__pycache__/alignment.cpython-39.pyc
__pycache__/noise_aware.cpython-39.pyc
__pycache__/param_search_semeval.cpython-39.pyc
__pycache__/s4_torch.cpython-39.pyc
__pycache__/s4.cpython-39.pyc
__pycache__/WordVectors.cpython-39.pyc
.idea/workspace.xml
results/param_search_n_results_semeval_normalized.txt
results/param_search_n_results_semeval.txt
results/n_search/ukus_heatmap_accuracy.png
results/n_search/ukus_heatmap_f1.png
results/n_search/ukus_heatmap_precision.png
results/n_search/ukus_heatmap_recall.png
results/n_search/cosine_025/semeval_heatmap_english_accuracy.png
results/n_search/cosine_025/semeval_heatmap_english_f1.png
results/n_search/cosine_025/semeval_heatmap_english_precision.png
results/n_search/cosine_025/semeval_heatmap_english_recall.png
results/n_search/cosine_025/semeval_heatmap_german_accuracy.png
results/n_search/cosine_025/semeval_heatmap_german_f1.png
results/n_search/cosine_025/semeval_heatmap_german_precision.png
results/n_search/cosine_025/semeval_heatmap_german_recall.png
results/n_search/cosine_025/semeval_heatmap_latin_accuracy.png
results/n_search/cosine_025/semeval_heatmap_latin_f1.png
results/n_search/cosine_025/semeval_heatmap_latin_precision.png
results/n_search/cosine_025/semeval_heatmap_latin_recall.png
results/n_search/cosine_025/semeval_heatmap_swedish_accuracy.png
results/n_search/cosine_025/semeval_heatmap_swedish_f1.png
results/n_search/cosine_025/semeval_heatmap_swedish_precision.png
results/n_search/cosine_025/semeval_heatmap_swedish_recall.png
results/n_search/cosine_050/semeval_heatmap_english_accuracy.png
results/n_search/cosine_050/semeval_heatmap_english_f1.png
results/n_search/cosine_050/semeval_heatmap_english_precision.png
results/n_search/cosine_050/semeval_heatmap_english_recall.png
results/n_search/cosine_050/semeval_heatmap_german_accuracy.png
results/n_search/cosine_050/semeval_heatmap_german_f1.png
results/n_search/cosine_050/semeval_heatmap_german_precision.png
results/n_search/cosine_050/semeval_heatmap_german_recall.png
results/n_search/cosine_050/semeval_heatmap_latin_accuracy.png
results/n_search/cosine_050/semeval_heatmap_latin_f1.png
results/n_search/cosine_050/semeval_heatmap_latin_precision.png
results/n_search/cosine_050/semeval_heatmap_latin_recall.png
results/n_search/cosine_050/semeval_heatmap_swedish_accuracy.png
results/n_search/cosine_050/semeval_heatmap_swedish_f1.png
results/n_search/cosine_050/semeval_heatmap_swedish_precision.png
results/n_search/cosine_050/semeval_heatmap_swedish_recall.png
results/n_search/cosine_075/semeval_heatmap_english_accuracy.png
results/n_search/cosine_075/semeval_heatmap_english_f1.png
results/n_search/cosine_075/semeval_heatmap_english_precision.png
results/n_search/cosine_075/semeval_heatmap_english_recall.png
results/n_search/cosine_075/semeval_heatmap_german_accuracy.png
results/n_search/cosine_075/semeval_heatmap_german_f1.png
results/n_search/cosine_075/semeval_heatmap_german_precision.png
results/n_search/cosine_075/semeval_heatmap_german_recall.png
results/n_search/cosine_075/semeval_heatmap_latin_accuracy.png
results/n_search/cosine_075/semeval_heatmap_latin_f1.png
results/n_search/cosine_075/semeval_heatmap_latin_precision.png
results/n_search/cosine_075/semeval_heatmap_latin_recall.png
results/n_search/cosine_075/semeval_heatmap_swedish_accuracy.png
results/n_search/cosine_075/semeval_heatmap_swedish_f1.png
results/n_search/cosine_075/semeval_heatmap_swedish_precision.png
results/n_search/cosine_075/semeval_heatmap_swedish_recall.png
wordvectors/arxiv/arXiv_category_cond-mat.mtrl-sci.vec
wordvectors/arxiv/arXiv_category_cs.AI.vec
wordvectors/arxiv/arXiv_category_math.GM.vec
wordvectors/arxiv/arXiv_category_physics.atom-ph.vec
wordvectors/arxiv/arXiv_category_physics.class-ph.vec
wordvectors/semeval/english-corpus1.vec
wordvectors/semeval/english-corpus2.vec
wordvectors/semeval/german-corpus1.vec
wordvectors/semeval/german-corpus2.vec
wordvectors/semeval/latin-corpus1.vec
wordvectors/semeval/latin-corpus2.vec
wordvectors/semeval/swedish-corpus1.vec
wordvectors/semeval/swedish-corpus2.vec
wordvectors/ukus/bnc.vec
wordvectors/ukus/coca.vec
param_search_n_results_semeval.txt
param_search_results_semeval_cosine.txt
param_search_results_semeval_s4.txt
param_search_results_semeval.txt
param_search_results_ukus_cosine_03.txt
param_search_results_ukus_cosine_05.txt
param_search_results_ukus.txt
results_param_search_semeval.txt
results_param_search_ukus.txt
results_r_ukus.txt
semeval_max.png
ukus_acc.png
